*{
    padding:0;
    margin: 0;
}

.popup-box{
    background-color:rgba(47, 47, 47, 0.75);
    position:fixed;
    inset:0;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    color:white;
}
.popup-content{
    background-color: rgba(255, 255, 255, 1);
    color:black;
    padding:20px;
    border-radius: 6px;

}
.popup-content p{
    font-family: Roboto;
font-size: 20px;
font-weight: 700;
letter-spacing: 0.035em;
margin:10px 0 10px 0;
color:rgba(0, 0, 0, 1);
}
.popup-group{
    font-family: Roboto;
font-size: 17px;
font-weight: 700;
line-height: 44px;
letter-spacing: 0.035em;
color:rgba(0, 0, 0, 1);
margin:15px 0 0px 0;
}
.popup-groupInput{
    border: 1px solid lightgrey;
   border-radius: 12px;
   margin:15px 28px;
   padding:7px;
}
.popup-color{
    width: 30px;
    margin: 5px;
}
.popup-color input{
     height:25px;
}
.popup-color:input hover{
    border:1px solid rgb(14, 14, 14);
    border-radius: 50%;
}
.create-button{
   height: 20px;
   border-radius: 11px;
   background-color: rgba(0, 31, 139, 1);
   width:71px;
   margin-left: 10rem;
   color: white;
   border:none;
   cursor:pointer;
}
.popup-colorLine{
    display:flex;
    flex-direction:row;
    align-items: center;
}

@media only screen and (max-width: 720px) {
    .popup-content{
        width: 55vw;
        height: 23vh;
        overflow: auto;
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-around;
    }
    .popup-content p{
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.035em;
    color:rgba(0, 0, 0, 1);
    }
    .popup-color{
        width: 15px;
        margin: 2px;
    }
    .popup-color input{
         height:15px;
    }
    .popup-box{
        background-color: rgba(47, 47, 47, 0.75);
        position: fixed;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        color: white;
        justify-content: space-around;
    }
    .popup-group{
    font-size: 15px;
    font-weight: 600;
    color:rgba(0, 0, 0, 1);
    }
    .popup-groupInput{
        border: 1px solid lightgrey;
       border-radius: 12px;
       padding:7px;
    }
}