*{
    margin: 0;
    padding: 0;
}
.sidebarGroups{
     overflow: auto;
}
.sidebarHeading {
    font-family: Roboto;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0.02em;
    text-align: center;
    margin:30px;
}
.sidebarAdd{
    font-weight: 900;
    background-color: #16008B;
    font-family: Roboto;
    font-size: 51px;
    position: sticky;
    border-radius: 50%;
    padding: 0 15px 0 15px;
    left: 20vw;
    top:32rem;
    color: white;
    cursor: pointer;
    width:27px;
    text-align: center;
}
.sidebarNote{
    display:flex;
    flex-direction:row;
    gap:10px;
    align-items: center;
}
.GroupsFigure{
    font-family: Roboto;
    font-size: 10px;
    font-weight: 700;
    /* line-height: 23px; */
    letter-spacing: 0.02em;
    text-align: left;
    /* background-color: blue; */
    color:white;
    border-radius: 50%;
    padding:15px;
    margin:0px 10px;
    align-items: center;
}
.GroupsName{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-align: center;
    margin:10px;
}
@media only screen and (max-width: 720px) {
    .GroupList{
        width:100%;
        height:100%;
    }
    .sidebarHeading {
 
        font-size: 25px;
        font-weight: 600;
        letter-spacing: 0.02em;
        text-align: center;
        align-items: center;
        margin:20px;
        display:flex;
        justify-content: center;
    }
    .GroupsFigure{
        width:100%;
        font-size: larger;
        font-weight: 700;
    }
    .sidebarAdd{
        font-weight: 900;
        background-color: #16008B;
        font-size: 51px;
        position: absolute;
        border-radius: 50%;
        padding: 0 15px 0 15px;
        /* right: 1rem; */
        top: 26rem;
        color: white;
        cursor: pointer;
        width: 27px;
        text-align: center;
        left: 82vw;
    }

}